@font-face {
  font-family: "Poppins";
  src: url("../fonts/PoppinsLatin-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-light-300";
  src: url("../fonts/poppins-v19-latin-300.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: openSans;
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
  font-weight: normal;
  font-style: normal;
}

/* MENU */
.menu
{
  position:fixed;
  left:0px;
  bottom:-38px;
  font-family: openSans;
  font-size: 20px;

  /* originally:
  top:-50px;
  MENU */

  width:100vw;
  padding:0px; /* amount of padding around the edges of the menu */
  text-align:center;

  /*background-color:rgba(0,0,0,0.9);*/

  background-color:rgba(0,0,0,1);

  box-shadow: 0px 2px 5px rgba(0,0,0,0.6);

  font-size:20px;
  color:white;

  /* transition */

  transition:bottom 1s;
  -webkit-transition:bottom 1s;

  /* original transition
  transition:top 1s;
  -webkit-transition:top 1s;
  transition */

}

#menusymbol{
  font-size:20px;
  color: #404040
}

.menu:hover
{
  /* originally: top:0px; */
  bottom:0px;
}

/* SPAN OF SPAN */

.menu span
{
  margin:20px;
}

.menu span a:hover
{
  color:rgba(255,255,255,0.5);
}

/* Body and Title*/

a
{
  text-decoration:none;
  color:white;
}




/* my own css */
body{
  overflow: hidden;
}

@media screen and (max-width: 992px) {

  .menu
  {
    position:fixed;
    left:0px;
    bottom:-40px;
    font-family: openSans;

    /* originally:
    top:-50px;
    MENU */

    width:100vw;
    padding:0px; /* amount of menubar showing */
    text-align:center;

    /*background-color:rgba(0,0,0,0.9);*/

    background-color:rgba(0,0,0,1);

    box-shadow: 0px 2px 5px rgba(0,0,0,0.6);

    font-size:20px;
    color:white;

    /* transition */

    transition:bottom 1s;
    -webkit-transition:bottom 1s;

    /* original transition
    transition:top 1s;
    -webkit-transition:top 1s;
    transition */

  }

  .menu span
  {
    margin:8px;
    font-size:26px;
  }

  #menusymbol{
    font-size:30px;
    color: #404040
  }

  .menu:hover
  {
    /* originally: top:0px; */
    bottom:0px;
  }

  p{
    font-size: 50px;
  }

  img{
    max-width: 100vw;
  }
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} /* end @ media screen and max-width */


.instructionsP{
  font-size: 14px;
  background-color: transparent;
}

.instructions{
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: openSans, Helvetica, Arial, sans-serif;
  font-size: 20px;
  width: 250px;
  height: 320px;
  z-index: 1000;
  background-color: black;
  border-radius: 10px;
  border: 2px solid #000;
  line-height: 1;
  padding-left: 30px;
  padding-right: 30px;
}

p{
  background-color: black;
  color: white;
  font-size: 30px;
  font-family: openSans;
}

#container{
  position: relative;
  width: window.innerWidth;
  height: window.innerHeight;
}

.lang-button{
  font-family: openSans;
  background: #FFF;
  color: #000;
  border-radius: 50px;
  border: 2px solid #000;
  z-index: 10;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
}
